<template>
    <div id="recipeDetails" v-if="resultRecipe">
        <el-row>
            <el-col :lg="{span: 16, offset: 4}">
                <el-card class="box-card">
                    <div>
                        <el-row>
                            <el-col :lg="{span: 12}">
                                <img class="d-flex h-100 p-15" :src="resultRecipe.image">
                            </el-col>
                            <el-col :lg="{span: 12}">
                                <span class="recipeTitle">{{ resultRecipe.title }}</span>
                                <div>
                                    <router-link  v-for="(cuisine, index) in resultRecipe.cuisines" :key="index" :to="{path: '/searchRecipe', query: {cuisine: cuisine }}">
                                        <el-tag type="info">{{ cuisine }}</el-tag>
                                    </router-link>
                                    <router-link  v-for="(diet, index) in resultRecipe.diets" :key="index" :to="{path: '/searchRecipe', query: {diet: diet }}">
                                        <el-tag type="info">{{ diet }}</el-tag>
                                    </router-link>
                                </div>
                                <div>
                                   Temps de préparation : <font-awesome-icon class="recipe" :icon="['fas', 'clock']" />{{ resultRecipe.readyInMinutes }}
                                </div>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col>
                                <p v-html="resultRecipe.summary"></p>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :lg="{span: 8}">
                                <div>
                                    <p class="les-ingredients">les ingredients</p>
                                </div>
                                <div>
                                    <ul>
                                        <li class="d-flex align-center" v-for="(recipe, index) in recipeIngredients" :key="index">
                                            <img height="50px"
                                                 width="50px"
                                                 class="mr-15" :src="'https://spoonacular.com/cdn/ingredients_100x100/' + recipe.image">{{ recipe.amount.metric.value }} {{ recipe.amount.metric.unit }} {{ recipe.name }}
                                        </li>
                                    </ul>
                                </div>
                            </el-col>
                            <el-col :lg="{span: 15}" class="b-left">
                                <div>
                                    <p class="preparation">Préparation</p>
                                </div>
                                <ul v-if="steps">
                                    <li v-for="(step, index) in steps" :key="index">
                                        {{ index+1 }}/ {{ steps[index].step }} <br><br>
                                    </li>
                                </ul>
                            </el-col>
                        </el-row>
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'recipeDetails',
  data: () => ({
    resultRecipe: {},
    recipeIngredients: {},
    steps: {}
  }),
  methods: {
    getRecipeInformation: function() {
      this.$axios.get('https://api.spoonacular.com/recipes/' + this.$route.params.id + '/information', {
        params: {
          apiKey: '029d2e1ed80f471a9f300fb2a365717a'
        }
      }).then(response => {
        this.resultRecipe = response.data
        console.log(response)
        this.steps = response.data.analyzedInstructions[0].steps
      })
    },
    getRecipeIngredients: function() {
      this.$axios.get('https://api.spoonacular.com/recipes/' + this.$route.params.id + '/ingredientWidget.json', {
        params: {
          apiKey: '029d2e1ed80f471a9f300fb2a365717a'
        }
      }).then(response => {
        console.log(response.data)
        this.recipeIngredients = response.data.ingredients
      })
    }
  },
  mounted: function() {
    this.getRecipeInformation()
    this.getRecipeIngredients()
  }
}
</script>


<style scoped lang="scss">
    .recipeTitle {
        color: lightcoral;
        font-family: Ubuntu, sans-serif;
        font-size: 25px;
    }
    li {
        list-style: none;
        text-align: left;
        float: left;
        display: block;
        .img {
            width: 50%;
        }
    }
    .el-tag {
        margin: 0 15px 0 0;
    }
    .b-left {
        border-left: 1px solid #eee;
    }
    .box-card {
        width: 100%;
        .les-ingredients, .preparation {
            text-align: left;
            font-size: 22px;
            color: lightcoral;
            font-family: Montserrat, sans-serif;
        }
    }
    .align-center {
        align-items: center;
    }
    .mr-15 {
       margin-right: 15px;
    }
    .h-100 {
        width: 100%;
    }
    .d-flex {
        display: flex;
    }
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }
    .clearfix:after {
        clear: both
    }
</style>