<template>
  <div class="home">
      <h1>Bienvenue sur FoodWars</h1>
      <h2>Avec nous, conserver vos habitudes alimentaire tout en decouvrant de nouveau plats</h2>
      <HomeCard />
  </div>
</template>

<script>
// @ is an alias to /src
import HomeCard from '@/components/HomeCard.vue'

export default {
  name: 'Home',
  components: {
    HomeCard
  }
}
</script>
