<template>
    <div id="planning">
        <el-calendar
                :range="intervalArray">
            <template
                    slot="dateCell"
                    slot-scope="{date, data}">
                <p>{{ data.day }}</p>
                <div v-if="mealByDate">
                    <div v-for="(meal, index) in mealByDate" :key="index">
                        <div v-if="mealByDate[index].date === data.day.split('-').slice(0).join('-') && mealByDate[index].items">
                            <div v-for="(item, indexItem) in mealByDate[index].items" :key="indexItem">
                                <div v-if="indexItem === (mealByDate[index].items.length-1)">
                                    <el-badge v-if="item.breakfast > 0" :value="item.breakfast" class="item">
                                        <el-button size="small" @click="openPopUp(mealByDate[index], 'breakfast')">Breakfast</el-button>
                                    </el-badge>
                                    <el-badge v-if="item.lunch > 0" :value="item.lunch" class="item">
                                        <el-button size="small" @click="openPopUp(mealByDate[index], 'lunch')">Lunch</el-button>
                                    </el-badge>
                                    <el-badge v-if="item.dinner > 0" :value="item.dinner" class="item">
                                        <el-button size="small" @click="openPopUp(mealByDate[index], 'dinner')">Dinner</el-button>
                                    </el-badge>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="https://spoonacular.com/images/add.svg" :width="25" @click="dialogVisible = true">
            </template>
        </el-calendar>
        <el-button @click="previousWeek()">Prev</el-button>
        <el-button @click="nextWeek()">next</el-button>
        <el-dialog title="Adresse d'expédition" :visible.sync="openBreakFastPop">
            <el-table
                    :data="meal === 'breakfast' ? breakfastArray : meal === 'lunch' ? lunchArray : dinnerArray"
            >
                <el-table-column width="180" label="Image">
                    <div slot-scope="{row}" class="img-container">
                        <img :src="row.img" :alt="row.name">
                    </div>
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="Nom"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="amount"
                        label="Quantité"
                        width="180">
                </el-table-column>
                <el-table-column
                        label="Opérations">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.$index, scope.row)">Supprimer</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-row>
                <el-col :lg="{span: 12}">
                    <el-table
                            :data="meal === 'breakfast' ? nutrimentBreakfast : meal === 'lunch' ? nutrimentLunch : nutrimentDinner"
                            style="width: auto; text-align: left">
                        <el-table-column
                                prop="name"
                                label="Indicateur"
                                width="150">
                        </el-table-column>
                        <el-table-column
                                prop="value"
                                label="Quantité total"
                                width="150">
                        </el-table-column>
                    </el-table>
                </el-col>
                <el-col :lg="{span: 12}" class="addIngredient">
                    <el-button type="primary" @click="innerVisible = true">Ajouter ingrédient</el-button>
                </el-col>
            </el-row>

            <el-dialog
                    width="30%"
                    title="Modal intérieur"
                    :visible.sync="innerVisible"
                    append-to-body>
                <input type="text" v-model="addIngredient">
                <el-button type="primary" @click="handleAdd(addIngredient)">Ajouter ingrédient</el-button>
            </el-dialog>
            <span slot="footer" class="dialog-footer">
                <el-button @click="openBreakFastPop = false">Fermer</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
    export default {
      name: 'planning',
      data() {
        return {
          test: 0,
          innerVisible: false,
          addIngredient: '',
          mealByDate: {},
          meal: '',
          startweekdate: '',
          intervalArray: [
            '2019-03-04',
            '2019-03-24'
          ],
          lastweekdate: '',
          dialogVisible: false,
          breakfastArray: [],
          lunchArray: [],
          dinnerArray: [],
          nutrimentBreakfast: [],
          nutrimentLunch: [],
          nutrimentDinner: [],
          breakfast: 0,
          lunch: 0,
          dinner: 0,
          openBreakFastPop: false
        }
      },
      methods: {
        nextWeek() {
          var d = new Date(this.startweekdate)
          var date = new Date(this.lastweekdate)
          this.startweekdate = new Date(d.getTime() + 7 * 24 * 60 * 60 * 1000).toJSON().slice(0, 10).replace(/-/g, '-')
          this.lastweekdate = new Date(date.getTime() + 7 * 24 * 60 * 60 * 1000).toJSON().slice(0, 10).replace(/-/g, '-')
          this.intervalArray = [this.startweekdate, this.lastweekdate]
          this.getMealPlan(this.startweekdate)
        },
        previousWeek() {
          var date = new Date(this.startweekdate)
          var monday = date.setDate(date.getDate() - (date.getDay() + 6) - 7 % 7)
          var sunday = new Date(this.lastweekdate)
          this.startweekdate = new Date(monday).toJSON().slice(0, 10).replace(/-/g, '-')
          this.lastweekdate = new Date(sunday.getTime() - (sunday.getDay() + 7) * 24 * 3600 * 1000).toJSON().slice(0, 10).replace(/-/g, '-')
          this.intervalArray = [this.startweekdate, this.lastweekdate]
          this.getMealPlan(this.startweekdate)
        },
        handleAdd(ingredient) {
          console.log(ingredient)
          var img = ingredient.substr(2)
          var date = Math.round(new Date(this.date).getTime() / 1000)
          const headers = {
            'Content-Type': 'application/json'
          }
          var postData = {
            date: date,
              slot: 1,
              position: 0,
              type: 'INGREDIENTS',
              value: {
              ingredients: [
                {
                  name: ingredient,
                  img: 'https://spoonacular.com/cdn/ingredients_100x100/' + img + '.jpg'
                }
              ]
            }
          }
          this.$axios.post('https://api.spoonacular.com/mealplanner/orlands/items?apiKey=029d2e1ed80f471a9f300fb2a365717a&hash=704e86506b1fd2ce1456d9bc08df4d57f853efb2', postData, {
            headers: headers
          }).then(response => {
            this.breakfastArray.push({ name: ingredient, id: response.data.id, img: 'https://spoonacular.com/cdn/ingredients_100x100/' + img + '.jpg' })
            this.getMealPlan()
          })
        },
        handleDelete(index, row, meal) {
          console.log(row)
          this.$axios.delete('https://api.spoonacular.com/mealplanner/orlands/items/' + row.id, {
            params: {
              apiKey: '029d2e1ed80f471a9f300fb2a365717a',
              hash: '704e86506b1fd2ce1456d9bc08df4d57f853efb2'
            }
          }).then(response => {
            this.breakfastArray.splice(index, 1)
            this.getMealPlan()
          })
        },
        getMealPlan(startdate) {
         // var date = new Date().toJSON().slice(0, 10).replace(/-/g, '-')

          this.$axios.get('https://api.spoonacular.com/mealplanner/orlands/week/' + startdate, {
              params: {
                apiKey: '029d2e1ed80f471a9f300fb2a365717a',
                hash: '704e86506b1fd2ce1456d9bc08df4d57f853efb2'
              }
            }).then(response => {
              console.log(response)
              for (var i = 0; i < response.data.days.length; i++) {
                this.breakfast = 0
                this.lunch = 0
                this.dinner = 0
                var convertDate = new Date(response.data.days[i].date * 1000)
                var timeStampCon = convertDate.getFullYear() + '-' + ('0' + (convertDate.getMonth() + 1)).slice(-2) + '-' + ('0' + convertDate.getDate()).slice(-2)
                response.data.days[i].date = timeStampCon
                console.log('date => ', response.data.days[i].date)
                this.mealByDate = response.data.days
                for (var count = 0; count < this.mealByDate[i].items.length; count++) {
                  if (this.mealByDate[i].items[count].slot === 1) {
                    this.breakfast++
                  } else if (this.mealByDate[i].items[count].slot === 2) {
                    this.lunch++
                    this.lunchArray.push(this.mealByDate[i].items[count])
                  } else {
                    this.dinner++
                    this.dinnerArray.push(this.mealByDate[i].items[count])
                  }
                  this.mealByDate[i].items[count].breakfast = this.breakfast
                  this.mealByDate[i].items[count].lunch = this.lunch
                  this.mealByDate[i].items[count].dinner = this.dinner
                }
              }
            })
        },
        openPopUp(data, meal) {
          console.log(data)
          this.breakfastArray = []
          this.lunchArray = []
          this.dinnerArray = []
          for (var i = 0; i < data.items.length; i++) {
              for (var count = 0; count < data.items[i].value.ingredients.length; count++) {
                var obj = {}
                obj.name = data.items[i].value.ingredients[count].name
                obj.img = data.items[i].value.ingredients[count].image
                obj.amount = data.items[i].value.ingredients[count].amount
                obj.id = data.items[i].id
                if (data.items[i].slot === 1) {
                  console.log(obj.img)
                  this.breakfastArray.push(obj)
                } else if (data.items[i].slot === 2) {
                  this.lunchArray.push(obj)
                } else {
                  this.dinnerArray.push(obj)
                }
              }
            }
          this.getNutriment(data, meal)
          this.openBreakFastPop = true
          this.meal = meal
          this.date = data.date
        },
        getNutriment(data, meal) {
          console.log(data)
          var repas = meal
          this.nutrimentBreakfast = []
          this.nutrimentLunch = []
          this.nutrimentDinner = []
          for (var j = 0; j < data.nutritionSummaryBreakfast.nutrients.length; j++) {
            var object = {}
            if (repas === 'breakfast') {
              object.name = data.nutritionSummaryBreakfast.nutrients[j].title
              object.value = data.nutritionSummaryBreakfast.nutrients[j].amount
              this.nutrimentBreakfast.push(object)
            } else if (repas === 'lunch') {
              object.name = data.nutritionSummaryLunch.nutrients[j].title
              object.value = data.nutritionSummaryLunch.nutrients[j].amount
              this.nutrimentLunch.push(object)
            } else {
              object.name = data.nutritionSummaryDinner.nutrients[j].title
              object.value = data.nutritionSummaryDinner.nutrients[j].amount
              this.nutrimentDinner.push(object)
            }
          }
          console.log(data.date)
        }
      },
      mounted: function () {
        var dt = new Date()
        var lastday = dt.getDate() - (dt.getDay() - 1) + 6
        this.lastweekdate = new Date(dt.setDate(lastday)).toJSON().slice(0, 10).replace(/-/g, '-')
        this.startweekdate = new Date(dt.getFullYear(), dt.getMonth(), dt.getDate() + (dt.getDay() === 0 ? -5 : 1)).toJSON().slice(0, 10).replace(/-/g, '-')
        this.intervalArray = [this.startweekdate, this.lastweekdate]
        this.getMealPlan(this.startweekdate)
      }
    }
</script>

<style>
    .addIngredient {
        height: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .is-selected {
        color: #1989FA;
    }
    .el-calendar-table .el-calendar-day {
        height: auto;
    }
</style>