<template>
  <div id="recipes" v-if="recipeLength">
    <h1>Recipe page</h1>
      <el-row>
          <el-col :lg="{span: 8, offset: 8}">
              <el-tabs stretch v-model="activeName">
                  <el-tab-pane label="User" name="first">
                      <el-form ref="form" :model="form">
                          <el-form-item>
                              <el-input placeholder="Enter an ingredient" v-model="form.ingredient1"></el-input>
                          </el-form-item>
                          <el-form-item>
                              <el-input placeholder="Enter an ingredient" v-model="form.ingredient2"></el-input>
                          </el-form-item>
                          <el-form-item>
                              <el-input placeholder="Enter an ingredient" v-model="form.ingredient3"></el-input>
                          </el-form-item>
                          <el-form-item>
                              <router-link :to="{path: '/searchRecipe', query: {ingredient: form.request } }">
                                  <el-button type="primary" @click="searchRecipes">Submit</el-button>
                              </router-link>
                              <el-button>Annuler</el-button>
                          </el-form-item>
                      </el-form>
                  </el-tab-pane>
                  <el-tab-pane label="Config" name="second">Config</el-tab-pane>
              </el-tabs>
          </el-col>
      </el-row>
      <el-row class="d-flex" v-for="(chunk, index) in itemChunks" :key="index">
          <el-col :span="4" :offset="index > 0 ? 1 : 0" v-for="(item, index) in chunk" :key="index">
              <el-card :body-style="{ padding: '0px' }">
                  <img :src="item.image" class="image">
                  <div style="padding: 14px;">
                      <span>{{ item.title }}</span>
                      <span>{{ item.readyInMinutes }} min</span>
                      <router-link :to="`/recipes/${item.id}/information`">
                      <div class="bottom clearfix">
                          <el-button type="text" class="button">See recipe</el-button>
                      </div>
                      </router-link>
                  </div>
              </el-card>
          </el-col>
      </el-row>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'recipes',
  data() {
    return {
      items: [],
      activeName: 'first',
      randomRecipes: [],
      recipeLength: null,
      form: {
        request: '',
        ingredient1: '',
        ingredient2: '',
        ingredient3: ''
      }
    }
  },
  methods: {
    searchRecipes() {
        if (!this.form.ingredient1 && !this.form.ingredient2 && !this.form.ingredient3) {
            this.notificationAlert()
        }
        if (this.form.ingredient1) {
          this.form.request = this.form.ingredient1
        }
        if (this.form.ingredient2) {
            this.form.request += ',+' + this.form.ingredient2
        }
        if (this.form.ingredient3) {
            this.form.request += ',+' + this.form.ingredient3
        }
    },
    notificationAlert() {
      this.$notify.error({
        title: 'Error',
        message: 'Veuillez remplir au moins un champ pour commencer la recherche',
        duration: 0
      })
    },
    getRandomRecipes() {
      this.$axios.get('https://api.spoonacular.com/recipes/random', {
        params: {
          apiKey: '029d2e1ed80f471a9f300fb2a365717a',
          number: 12
        }
      }).then(response => {
        this.randomRecipes = response.data.recipes
        this.recipeLength = response.data.recipes.length
      })
    }
  },
  mounted: function () {
    if (!this.$route.params.id) {
      this.getRandomRecipes()
    }
  },
  computed: {
    itemChunks() {
      return _.chunk(Object.values(this.randomRecipes), 4)
    }
  }
}
</script>

<style>
    .el-tabs__item {
        font-size: 20px;
    }
    .d-flex {
        justify-content: center;
        display: flex;
    }
    .image {
        width: 100%;
    }
</style>