<template>
    <div id="searchRecipe">
        <el-row>
        <el-col :lg="{span: 20, offset: 2}">
        <el-row class="d-flex" v-for="(chunk, index) in itemChunks" :key="index">
            <el-col :span="4" :offset="index > 0 ? 1 : 0" v-for="(item, index) in chunk" :key="index">
                <el-card :body-style="{ padding: '0px' }">
                    <img :src="item.image" class="image">
                    <div style="padding: 14px;">
                        <span>{{ item.title }}</span>
                        <span v-if="item.readyInMinutes">{{ item.readyInMinutes }} min</span>
                        <router-link :to="`/recipes/${item.id}/information`">
                            <div class="bottom clearfix">
                                <el-button type="text" class="button">See recipe</el-button>
                            </div>
                        </router-link>
                    </div>
                </el-card>
            </el-col>
        </el-row>
        </el-col>
        </el-row>
    </div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'searchRecipe',
  data: () => ({
    resultRecipe: {},
    recipeArrayId: []
  }),
  methods: {
    getRecipeByIngredient() {
      this.$axios.get('https://api.spoonacular.com/recipes/findByIngredients', {
        params: {
          apiKey: '029d2e1ed80f471a9f300fb2a365717a',
          ingredients: this.$route.query.ingredient
        }
      }).then(response => {
        console.log(response)
        for (var i = 0; i < response.data.length; i++) {
            this.recipeArrayId.push(response.data[i].id)
        }
        this.resultRecipe = response.data
      })
    },
    searchRecipeByTag(tag) {
      if (tag.cuisine) {
        var cuisine = tag.cuisine
      } else if (tag.diet) {
         var diet = tag.diet
      } else if (tag.type) {
         var meal = tag.type
      } else {
        var recipe = tag.recipe
      }


      this.$axios.get('https://api.spoonacular.com/recipes/complexSearch', {
        params: {
          apiKey: '029d2e1ed80f471a9f300fb2a365717a',
          ...(recipe ? { query: recipe } : {}),
          ...(diet ? { diet: diet } : {}),
          ...(cuisine ? { cuisine: cuisine } : {}),
          ...(meal ? { type: meal } : {})
        }
      }).then(response => {
            console.log(response)
            this.resultRecipe = response.data.results
      })
    }
  },
  mounted: function() {
    if (this.$route.query.ingredient) {
      this.getRecipeByIngredient()
    }
    if (this.$route.query.cuisine || this.$route.query.diet || this.$route.query.recipe || this.$route.query.type) {
      this.searchRecipeByTag(this.$route.query)
    }
  },
  computed: {
    itemChunks() {
      return _.chunk(Object.values(this.resultRecipe), 5)
    }
  },
  watch: {
    '$route.query': function (name) {
      this.searchRecipeByTag(name)
    }
  }
}
</script>

<style>
    .image {
        width: 100%;
    }
</style>