<template>
    <div id="headComponent">
        <el-row class="headerRow">
            <el-col :lg="2" class="logo-col">
                <a class="flex white" href="/">
                    <img :width="50" alt="Vue logo" src="../assets/logo.png">
                    <p>FoodWars</p>
                </a>
            </el-col>
            <el-col :lg="11" class="searchBarCol">
                <el-input
                        prefix-icon="el-icon-search"
                        placeholder="Entrez quelque chose"
                        @keyup.enter.native="submit()"
                        class="searchBar"
                        v-model="input"
                >
                </el-input>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    export default {
      name: 'headerComponent',
      data: () => ({
        input: ''
      }),
      methods: {
        submit() {
          this.$router.push({ name: 'SearchRecipe', query: { recipe: this.input } })
        }
      }
    }
</script>

<style>
    .flex {
        display: flex;
    }
    .searchBar {
        width:100%;
    }
    .headerRow {
        display: flex;
        justify-content: center;
        padding: 10px;
        align-items: center;
        background-color: #34485e;
    }
    .logo-col {
        display: flex;
        justify-content: flex-end;
    }
    .searchBarCol {
        margin-left: auto;
        margin-right: auto;
    }
</style>