<template>
    <div id="homeCard">
        <el-row :gutter="30" class="row">
            <el-col :lg="{span: 4, offset: 4}" :xs="{span: 12, offset: 0}">
                <el-card class="home-card" :body-style="{ padding: '0px' }">
                    <div class="pt-5">
                        <font-awesome-icon class="icon-weight" :icon="['fas', 'weight']" />
                        <div style="padding: 14px;">
                            <span>Loose weight</span>
                            <div class="bottom clearfix">
                                <el-button type="text" class="button"></el-button>
                            </div>
                        </div>
                    </div>
                </el-card>
            </el-col>
            <router-link :to="'/recipes'">
                <el-col :lg="{span: 4}" :xs="{span: 12, offset: 0}">
                    <el-card class="home-card" :body-style="{ padding: '0px' }">
                        <font-awesome-icon class="recipe" :icon="['fas', 'utensils']" />
                        <div style="padding: 14px;">
                            <span>Search Recipe</span>
                            <div class="bottom clearfix">
                                <el-button type="text" class="button"></el-button>
                            </div>
                        </div>
                    </el-card>
                </el-col>
            </router-link>
            <el-col :lg="{span: 4}" :xs="{span: 12, offset: 0}">
                <el-card class="home-card" :body-style="{ padding: '0px' }">
                    <font-awesome-icon class="icon-weight" :icon="['fas', 'weight']" />
                    <div style="padding: 14px;">
                        <span>Loose weight</span>
                        <div class="bottom clearfix">
                            <el-button type="text" class="button"></el-button>
                        </div>
                    </div>
                </el-card>
            </el-col>
            <el-col :lg="{span: 4}" :xs="{span: 12, offset: 0}">
                <el-card class="home-card" :body-style="{ padding: '0px' }">
                    <font-awesome-icon class="icon-weight" :icon="['fas', 'weight']" />
                    <div style="padding: 14px;">
                        <span>Loose weight</span>
                        <div class="bottom clearfix">
                            <el-button type="text" class="button"></el-button>
                        </div>
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </div>
</template>

<script>
export default {
  name: 'homeCard'
}
</script>

<style lang="scss">
    #homeCard {
        align-items: center;
        display: flex;
    }
    @media screen and (min-width: 992px) {
        #homeCard {
            height: 70vh;
        }
    }
    .el-row {
        margin-bottom: 20px;
        width: 100%;
    &:last-child {
         margin-bottom: 0;
     }
    }
    .el-col {
        border-radius: 4px;
    }
    .bg-purple-dark {
        background: #99a9bf;
    }
    .bg-purple {
        background: #d3dce6;
    }
    .bg-purple-light {
        background: #e5e9f2;
    }
    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }
    .row-bg {
        padding: 10px 0;
        background-color: #f9fafc;
    }
    .icon-weight, .recipe {
        height: 100px;
        width: 60px!important;
    }
    .home-card:hover {
        transform: scale(1.1);
    }

</style>