<template>
    <div id="menuComponent">
        <el-menu
                class="el-menu-demo menu"
                mode="horizontal"
                active-text-color="#ffd04b"
                >
            <el-submenu popperClass="submenu" index="1">
                <template class="container" slot="title">Recettes</template>
                <el-row>
                    <el-col :lg="{span: 4, offset: 6}">
                        <ul>
                            <p class="title-categories">{{ title1 | capitalize }}</p>
                            <el-menu-item index="1-1"><a href="/searchRecipe/?recipe=Pork">Pork</a></el-menu-item>
                            <el-menu-item index="1-2"><a href="/searchRecipe/?recipe=Beef">Beef</a></el-menu-item>
                            <el-menu-item index="1-3"><a href="/searchRecipe/?recipe=chicken">Chicken</a></el-menu-item>
                            <el-menu-item index="1-4"><a href="/searchRecipe/?recipe=fish">Fish</a></el-menu-item>
                        </ul>
                    </el-col>
                    <el-col :lg="{span: 4}">
                        <ul>
                            <p class="title-categories">{{ title2 | capitalize }}</p>
                            <el-menu-item index="1-13"><a href="/searchRecipe/?type=appetizer">Appetizer</a></el-menu-item>
                            <el-menu-item index="1-14"><a href="/searchRecipe/?type=salad">Salad</a></el-menu-item>
                            <el-menu-item index="1-15"><a href="/searchRecipe/?type=main course">Main course</a></el-menu-item>
                            <el-menu-item index="1-16"><a href="/searchRecipe/?type=breakfast">Breakfast</a></el-menu-item>
                            <el-menu-item index="1-16"><a href="/searchRecipe/?type=fingerfood">Fingerfood</a></el-menu-item>
                            <el-menu-item index="1-16"><a href="/searchRecipe/?type=snack">Snack</a></el-menu-item>
                            <el-menu-item index="1-16"><a href="/searchRecipe/?type=drink">Drink</a></el-menu-item>
                            <el-menu-item index="1-16"><a href="/searchRecipe/?type=dessert">Dessert</a></el-menu-item>
                            <el-menu-item index="1-16"><a href="/searchRecipe/?type=side dish">Side dish</a></el-menu-item>
                        </ul>
                    </el-col>
                    <el-col :lg="{span: 4}">
                        <ul>
                            <p class="title-categories">{{ title3 | capitalize }}</p>
                            <el-menu-item index="1-13"><a href="/searchRecipe/?diet=gluten free">Gluten free</a></el-menu-item>
                            <el-menu-item index="1-14"><a href="/searchRecipe/?diet=ketogenic">Ketogenic</a></el-menu-item>
                            <el-menu-item index="1-15"><a href="/searchRecipe/?diet=vegetarian">Vegetarian</a></el-menu-item>
                            <el-menu-item index="1-16"><a href="/searchRecipe/?diet=lacto-vegetarian">Lacto-Vegetarian</a></el-menu-item>
                            <el-menu-item index="1-16"><a href="/searchRecipe/?diet=ovo-vegetarian">Ovo-Vegetarian</a></el-menu-item>
                            <el-menu-item index="1-16"><a href="/searchRecipe/?diet=vegan">Vegan</a></el-menu-item>
                            <el-menu-item index="1-16"><a href="/searchRecipe/?diet=pescetarian">Pescetarian</a></el-menu-item>
                            <el-menu-item index="1-16"><a href="/searchRecipe/?diet=paleo">Paleo</a></el-menu-item>
                            <el-menu-item index="1-16"><a href="/searchRecipe/?diet=primal">Primal</a></el-menu-item>
                            <el-menu-item index="1-16"><a href="/searchRecipe/?diet=whole30">Whole30</a></el-menu-item>
                        </ul>
                    </el-col>
                </el-row>
            </el-submenu>
            <el-submenu index="2">
                <template slot="title">Cuisine du monde</template>
                <el-menu-item index="2-1">item un</el-menu-item>
                <el-menu-item index="2-2">item deux</el-menu-item>
                <el-menu-item index="2-3">item trois</el-menu-item>
                <el-menu-item index="2-4">item quatre</el-menu-item>
            </el-submenu>
            <el-menu-item index="3"><a href="/planning">Planning repas</a></el-menu-item>
            <el-submenu index="4">
                <template slot="title">Lieu de travail</template>
                <el-menu-item index="4-1">item un</el-menu-item>
                <el-menu-item index="4-2">item deux</el-menu-item>
                <el-menu-item index="4-3">item trois</el-menu-item>
                <el-menu-item index="4-4">item quatre</el-menu-item>
            </el-submenu>
        </el-menu>
    </div>
</template>

<script>
export default {
  name: 'menuComponent',
  data: () => ({
    title1: 'Ingredients',
    title2: 'catégories',
    title3: 'Type de régime'
  }),
  filters: {
    capitalize: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.toUpperCase()
    }
  }
}
</script>

<style lang="scss">
    .el-menu {
        display: flex;
        justify-content: center;
        background: #34485e;
        color: #2c3e50;
        li {
            float: right;
            a {
                color: #2c3e50;
                text-decoration: none;
            }
        }
    }
    .el-menu--horizontal>.el-submenu .el-submenu__title {
        color: #33475e!important;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
    }
    .el-menu.el-menu--horizontal {
        border-bottom: 1px solid #34485e;
    }
    .el-menu--horizontal>.el-menu-item {
        color: white;
    }
    .submenu {
        width: 100%;
        top: 130px!important;
    }
    .title-categories {
        font-size: 18px;
        color: #3ab981;
    }
</style>