<template>
  <div id="app">
    <div id="nav">
        <headerComponent />
    </div>
        <menuComponent />
      <router-view/>
  </div>
</template>

<script>

import menuComponent from '@/components/menuComponent'
import headerComponent from '@/components/HeaderComponent'

export default {
  name: 'app',
  components: {
    menuComponent,
    headerComponent
  }
}
</script>

<style lang="scss">
    body {
        background-color: #eee;
        color: #2c3e50;
        margin: 0;
    }
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }

    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }

    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    }

#nav {
  a {
    font-weight: bold;
    color: white;
      text-decoration: none;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
</style>